html {
    background-color: darkgray;
}

#grid {
    margin: 0 auto;
    width: 50rem;
    height: 50rem;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}

.canvas {
    background-color: white;
    width: auto;
    height: auto;
}